{% extends 'layout.html.twig' %}

{% block title %}Nos produits | {{ parent() }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-3">
            {{ render(controller('App\\Controller\\StoreController::listBrands', {'currentBrandId': brand.id ?? null})) }}
        </div>

        <div class="col-md-9">
            <p class="lead">Nos produits " Toutes les marques "</p>
            <div class="row text-center">
                {% for product in products %}
                    <div class="col-md-4 col-sm-6 hero-feature">
                        {{ include('store/_product_card.html.twig') }}
                    </div>
                {% else %}
                    <div class="alert alert-warning">
                        Il n'y aucun produit ici...
                    </div>
                {% endfor %}
            </div>

            <div class="row text-center">
                <nav>
                    <ul class="pagination pagination-lg">
                        <li>
                            <a href="#" aria-label="Précédent">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="active">
                            <a href="#">1</a>
                        </li>
                        <li>
                            <a href="#">2</a>
                        </li>
                        <li>
                            <a href="#">3</a>
                        </li>
                        <li>
                            <a href="#">4</a>
                        </li>
                        <li>
                            <a href="#">5</a>
                        </li>
                        <li>
                            <a href="#" aria-label="Suivant">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}
